<head>
<style>
table, th, td {
    border: 1px solid black;
}
  </style>
  </head>
  <table>

  <tr>
    <th>Name</th>
    <th>Year Completed</th>

    </tr>

    <% @landmarks.each do |landmark| %>
      <td> <a href="/landmarks/<%= landmark.id %>"> <%= landmark.name %> </a></td>
      <td><%= landmark.year_completed %></td>
    </tr>
    <% end %>
  </table>
      <br>
      <br>
      <a class="button" href="landmarks/new">Create a new Landmark</a>
      <a class="button" href="/figures">View All Figures</a>
